html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    left: 0;
}


body{
    background-color: #050506;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}


.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}


.github-username{
    margin-left: 15px;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px 4px #848282;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #050506;
    border-bottom: 1px solid #222222;
    z-index: 100;
}


.navbar{
    display: flex;
}


.navbar-content{
    display: flex;
    width: 75%;
    margin: auto;
    margin-right: 0;
    justify-content: space-evenly;
}


.navbar-content a{
    display: flex;
    text-decoration: none;
    color: #babfc4;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 20px;
    border-radius: 8px;
}


.navbar-content a:hover{
    background-color: #022624;
}


#hire-me{
    justify-content: center;
    background-color: azure;
    color: black;
    border-radius: 4px;
    text-shadow: 2px 2px 4px #848282;
}


#hire-me:hover{
    color: #1a1919;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.12);
}


.footer{
    background-color: #050506;
    border-top: 1px solid #222222;
    width: 100%;
    left: 0;
}


.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.footer-icons img{
    width: 40px;
    border-radius: 40%;
    padding: 50px 0 50px 0;
}


.copyright{
    color: #babfc4;
    text-align: center;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.main-heading{
    width: 100%;
    color: #ffffff;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 110px;
}


.main-note p{
    color: #86888a;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    min-width: 100px;
    width: 38%;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.4px;
}


.span{
    color: #cdd3d8;
}


.main-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 60%;
    border-radius: 15px;
}


.main-left-child-grid{
    display: grid;
    width: 100%;

}


.brief-heading{
    font-size: 25px;
    font-weight: bold;
    height: 60px;
    text-align: center;
}


.main-link{
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    min-height: 100px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #584a4a;
}


.main-link:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.07);
    border: 1px solid #6d6aa3;
    box-shadow: 1px 1px 5px #dac4c4;
}


.link-name{
    display: flex;
    color: #0a6b69;
    font-weight: bold;
    margin-bottom: 5px;

}


.link-url{
    color: antiquewhite;
    margin-top: 5px;
    font-size: 18px;
}


.main-right-child-grid{
    background-color: #0d0d0d;
    border-radius: 15px;
}


.block{
    width: 100%;
    
}


.google-form{
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
}


.btn{
    background-color: #0d0d0d;
    font-size: 18px;
    width: 15%;
    margin: auto;
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #584a4a;
}


.btn:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.07);
    border: 1px solid #6d6aa3;
    box-shadow: 1px 1px 5px #dac4c4;
}


.google-form a{
    font-size: 17px;
    text-decoration: none;
    color: antiquewhite;
}


/* For Tablets */
@media (max-width: 768px) {
    .navbar{
        display: flex;
    }


    .hamburger{
        display: block;
        margin: auto;
        transform: scale(1.7);
    }


    .github-username{
        width: 70%;
        font-size: 30px;
        padding: 20px;
    }


    .navbar-content{
        display: none;
        flex-direction: column;
    }


    .navbar-content.active{
        display: flex;
    }