body{
    background-color: #050506;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}


.github-username{
    margin-left: 15px;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    color: aliceblue;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #050506;
    border-bottom: 1px solid #222222;
}


.navbar{
    display: flex;
}


.navbar-content{
    margin-top: auto;
    margin-left: auto;
    margin-right: 30px;
    display: flex;
}


.navbar-content a{
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #babfc4;
    font-size: 14px;
    font-weight: bold;
    margin:20px;
    margin-left: auto;
    padding: 10px;
}


#hire-me{
    text-align: center;
    width: 60px;
    background-color: azure;
    color: black;
    text-align: center;
    border-radius: 8px;
}


.footer{
    background-color: #050506;
    border-top: 1px solid #222222;
    width: 100%;
}


.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.footer-icons img{
    width: 40px;
    border-radius: 40%;
    padding: 50px 0 50px 0;
}


.copyright{
    color: #babfc4;
    text-align: center;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.main-heading{
    width: 100%;
    color: #f2dada;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 110px;
}


.main-note p{
    color: #86888a;
    /* background-color: blue; */
    text-align: center;
    margin: auto;
    margin-top: 10px;
    min-width: 100px;
    width: 35%;
    font-size: 18px;
    line-height: 25px;
}


.span{
    color: #cdd3d8;
}


.main-grid{
    display: grid;
    /* background-color: rgb(142, 119, 123); */
    margin: auto;
    margin-top: 70px;
    width: 60%;
    border-radius: 20px;
}