html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    left: 0;
}


body{
    background-color: #050506;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}


.background-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}


.hamburger{
    display: none;
}


.github-username{
    margin-left: 15px;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
    color: aliceblue;
    text-shadow: 2px 2px 4px #848282;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #050506;
    border-bottom: 1px solid #222222;
    z-index: 100;
}


.navbar{
    display: flex;  
}


.navbar-content{
    display: flex;
    width: 48%;
    margin-left: auto;
}


.navbar-content a{
    display: flex;
    text-decoration: none;
    color: #babfc4;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 15px;
    margin: auto;
    border-radius: 8px;
}


.navbar-content a:hover{
    background-color: #022624;
}


#hire-me{
    justify-content: center;
    background-color: azure;
    color: black;
    text-shadow: 2px 2px 4px #848282;
}


#hire-me:hover{
    color: #1a1919;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.05);
}


.footer{
    background-color: #050506;
    border-top: 1px solid #222222;
    width: 100%;
    left: 0;
}


.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.footer-icons img{
    width: 40px;
    border-radius: 40%;
    padding: 50px 0 50px 0;
}


.copyright{
    color: #babfc4;
    text-align: center;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.copyright p{
    margin-top: 0;
    padding: 0 0 50px 0;
}


.box{
    width: 88%;
    margin: auto;
}


.top-line{
    color: #02aab2;
    background-color: #222222;
    text-transform: uppercase;
    width: 20%;
    margin-top: 110px;
    margin-bottom: 40px;
    font-size: 10px;
    letter-spacing: 1.5px;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 88%;
    margin: auto;
    border-radius: 20px;
}


.i-am{
    color: #02aab2;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}


.name{
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #00f3ff;
    text-shadow: 1.5px 1px 3px #a799e0;
}


.designation{
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 40px;
}


.desig{
    color: #7f7f83;
    font-size: 22px;
    letter-spacing: 1.5px;
}


.intro p{
    color: #7f7f83;
    width: 75%;
    font-size: 17px;
    margin-bottom: 40px;
}


.button{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


.btn{
    color: #9b9e9f;
    border: 1px solid #312f2f;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}


.btn:nth-child(1){
    background-color: #00f3ff;
    color: #000000;
}


.btn:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.07);
    border: 1px solid #6d6aa3;
    box-shadow: 1px 1px 1px #dac4c4;
    
}


.photo img{
    margin: -50px auto;
    margin-left: 170px;
    width: 70%;
    border-radius: 100%;
    box-shadow: 1px 1px 10px #ffffff;
}


/* For Tablets */
@media (max-width: 768px) {
    .navbar{
        display: flex;
    }


    .hamburger{
        display: block;
        margin: auto;
        transform: scale(1.7);
    }


    .github-username{
        width: 70%;
        font-size: 30px;
        padding: 20px;
    }


    .navbar-content{
        display: none;
        flex-direction: column;
    }


    .navbar-content.active{
        display: flex;
    }


    .box{
        margin-top:-10px;
    }


    .top-line{
        width: 65%;
        text-align: left;
    }


    .grid{
        display: flex;
        flex-direction: column-reverse;
    }


    .sect:nth-child(1){
        margin-top: 80px;
    }


    .sect:nth-child(2){
        width: 100%;
        margin-top: 40px;
        margin-left: -110px;
    }


    .name{
        font-size: 80px;
    }


    .designation{
        width: 100%;
        text-align: center;
    }


    .intro p{
        width: 100%;
    }


    .button{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 50px;
    }


    .btn{
        width: 90%;
    }
}